html, body {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
#logotop {
    min-height: 60px;
    max-height: 60px; 
    min-width: 100px;
    max-width: 100px;
    padding-left: 25px;
    flex: start;
    cursor: pointer;
}
#burger {
    cursor: pointer;
    flex: end;
    padding: 50px;
}
#hamburger-menu{
    display:none;
}
#hamburger-menu:checked ~ nav {
    display: block;
}
#bodylogo {
    height: 20vh; 
    min-height: 100px;
    width: auto;
    padding: 10px 10px 10px 10px;
}
#pickgame {
    border-radius: 50px;
    padding-right: 30px;
    padding-left: 30px;
}
#cart {
    cursor: pointer;
}
header {
    height: 70px;
    background-color:rgb(143, 167, 125);
    display: flex;
    flex-direction: row;
}
nav {
    display: none;
    position: absolute;
    right: 0px;
    top: 70px;
    background-color: rgb(182, 212, 161);
    padding-right: 30px; 
}
header > input,
header > img,
header > form > input {
    flex-grow: 1;
}
.quarterflex{
    flex-grow: 0.25;
}
.hflex {
    flex-grow: 1;
}
.hflex3 {
    flex-grow: 3; 
}
.hflex5 {
    flex-grow: 5;
}
.headerform {
    flex-grow: 3;
    display:flex;
}
.gamelist {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
}
.smallgame{
    height:300px;
}
@media screen and (max-width: 659px) {
    .gamelist {
        grid-template-columns: auto auto auto;
         }
}
.button.signup {
    background-color:rgb(39, 93, 146);
    color:white;
}
.wicon {
    background-color: white;
    padding: 4px 10px 4px 10px;
}
.button {
    border-radius: 50px;
    height: 40px;
    align-self: center;
    cursor: pointer;
}
.text {
    height: 33px;
    align-self: center;
    width: 100px;
    cursor: pointer;
}
.withinbox {
    border-style: solid;
    border-color: black;
}
.iicon {
    height: 25px;
    align-self: center;
}
.center {
    display: flex;
    justify-content: center;
}
.games {
    max-height: 23vh;
    padding:5px 5px;
}
.fitinbox {
    height: 35px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    position: relative; bottom:8px; 
}
.width100{
    width: 100%; 
    margin-left: -10px;
    background-color: rgb(39, 93, 146)
}
.padding{
    padding:5px
}
.seachstyle{
    width: 30vw;
}
.infobox {
    width: 80vh;
    height: 200px;
    background-color: grey;
    margin: auto;
}
.grid-container{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 200px 500px 500px;
    background-color:black;
    padding: 5px;
}
.grid-item{
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    font-size: 30px;
    text-align: left;
    right: 10px;
}
